@charset "UTF-8";

input {
    font-size: 14px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
}
.tutor_cont {
    width: 1040px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.tutor_cont, .tutor_cont div {
    box-sizing: border-box;
}
.popcont {
    position: absolute;
    z-index: 50;
    width: 500px;
}
.popcont .inbox {
    padding: 30px;
    color: #000;
    font-size: 17px;
    text-align: center;
}
.popcont .top {
    font-size: 18px;
}
.popcont .top {
    overflow: hidden;
    display: flex;
}
b {
    font-weight: bold;
}
.popcont .inbox .title {
    padding: 0;
    font-weight: 300;
    text-align: left;
    font-size: 14px;
    color: #000;
    letter-spacing: -0.75px;
    border: none;
    margin-bottom: 10px;
}
.popcont .button {
    color: #fff;
    background: #ff005a;
    padding: 13px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.phone_box.region_box {
    margin: 0 auto;
    position: absolute;
}
.phone_box {
    position: fixed;
    width: 500px;
    border-radius: 10px;
    background: #fff;
    margin: 190px auto;
    left: 0;
    right: 0;
    z-index: 20;
}
.phone_box .head {
    border-top-left-radius: 10px;
    background: #ff005a;
    border-top-right-radius: 10px;
    color: #fff;
    padding: 12px 20px;
    font-size: 24px;
    font-weight: bold;
}
.phone_box .head span {
    float: right;
    color: #fff;
}
.tutor_cont .phone_box .box {
    padding: 30px;
    display: block;
    border-bottom: none;
}
.tutor_cont .box {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #d8d9db;
}
.phone_box .box .title {
    padding-left: 0;
}
.tutor_cont .box .title {
    width: 220px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    padding: 14px;
    font-weight: bold;
}
.formbox .option.on {
    border: 1px solid #ff005a;
    color: #ff005a;
    background: #fff;
}
.cursor{
	cursor: pointer;
}
.formbox .option {
    cursor: pointer;
    box-sizing: border-box;
    float: left;
    width: 49%;
    background: #e6e6e6;
    color: #000;
    font-size: 14px;
    text-align: center;
    padding: 12px;
    border: 1px solid #e6e6e6;
}
.phone_box .box .border.cal {
    margin-bottom: 10px;
}
.phone_box .box .border {
    padding: 10px 11px;
    border-radius: 4px;
}
.phone_box .box input.cal.hasDat {
    width: 94%;
}
.formbox.calendar, .cal .ui-datepicker-trigger {
    cursor: pointer;
}
.phone_box .box input {
    padding: 10px 15px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    float: left;
    box-sizing: border-box;
}
.phone_box .box .border {
    padding: 10px 11px;
    border-radius: 4px;
}
.popcont.calendar {
    width: 450px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}
.popcont .inbox {
    padding: 30px;
    color: #000;
    font-size: 17px;
    text-align: center;
}
.popcont.calendar .inbox .title {
    padding-left: 21px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
    font-weight: bold;
    margin-bottom: 10px;
}
.popcont .inbox .title {
    padding: 0;
    font-weight: 300;
    text-align: left;
    font-size: 14px;
    color: #000;
    letter-spacing: -0.75px;
    border: none;
    margin-bottom: 10px;
}
.popcont .inbox .subinfo {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    color: #333;
    text-align: left;
    font-weight: 300;
    margin-bottom: 10px;
}
.popcont.calendar .inbox .title2 {
    text-align: left;
    font-size: 16px;
    margin: 5px 0;
    color: #333;
}
.popcont.calendar .time_cont {
    padding: 5px 0;
    overflow: hidden;
}
.popcont.calendar .time_cont .time_box {
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    padding: 6px 14px;
    background: #fff;
    font-size: 14px;
    float: left;
    margin: 3px;
    color: #333;
    border: 1px solid #ccc;
}
.phone_box .box input {
    padding: 10px 15px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    float: left;
    box-sizing: border-box;
}
.phone_box .box .final_box {
    display: flex;
    width: 50%;
    margin: 0 auto;
}
.phone_box .box .next {
    padding: 10px 20px;
    width: 100px;
}
.tutor_cont .next.prev {
    background: #555;
    margin-right: 10px;
}
.tutor_cont .next.on {
    background: #ff005a;
    /* margin: 0 auto; */
}
.tutor_cont .next {
    background: #888;
    color: #fff;
    padding: 20px 30px;
    width: 230px;
    margin: 40px auto;
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
}
.region_box input.cal {
    padding: 0;
}
.formbox .moption {
    cursor: pointer;
    box-sizing: border-box;
    float: left;
    width: 33%;
    background: #e6e6e6;
    color: #000;
    font-size: 14px;
    text-align: center;
    padding: 12px;
    border: 1px solid #e6e6e6;
}
.formbox .moption.on {
    border: 1px solid #ff005a;
    color: #ff005a;
    background: #fff;
}