<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rebuild.mybatis.mapper.AssignmentMapper">
	<insert id="insert" parameterType="assignment">
		insert into assignment values(0,#{commu_num},#{assign_title},#{assign_content},now())
	</insert>
	<select id="list" resultType="assignment" parameterType="int">
		select * from assignment where commu_num=#{commu_num} order by assign_num desc
	</select>
	<delete id="delete" parameterType="int">
		delete from assignment where assign_num=#{assign_num}
	</delete>
	<update id="update" parameterType="assignment">
		update assignment set assign_title=#{assign_title},assign_content=#{assign_content} where assign_num=#{assign_num}
	</update>
	<select id="updatelist" parameterType="int" resultType="assignment">
		select * from assignment where assign_num=#{assign_num}
	</select>
	<!-- a 해당 주차 과제 갯수 가져오기-->
	<select id="weekAssign" parameterType="int" resultType="int">
		select count(*)
		from assignment
		where commu_num = #{commu_num} and
    	date_format(assign_regdate,'%Y-%m-%d')
    	between
        (select adddate(curdate(), - weekday(curdate()) + 0 ))
    	and
        (select adddate(curdate(), - weekday(curdate()) + 6 ))
	</select>
</mapper>