<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rebuild.mybatis.mapper.ClassQnaMapper">
	<insert id="insertQna" parameterType="classQna">
		insert into class_qna
		values(null,#{ml_num},#{class_num},#{qna_content},(select
		ifnull(max(qna_ref)+1,1) from class_qna q),#{qna_lev},now(),0)
	</insert>
	<insert id="insertReply" parameterType="classQna">
		insert into class_qna
		values(null,#{ml_num},#{class_num},#{qna_content},#{qna_ref},#{qna_lev},now(),0)
	</insert>
	
	<resultMap type="miv" id="miv">
		<result column="mb_name" property="mb_name"/>
	</resultMap>
	<resultMap type="pfv" id="pfv">
		<result column="pro_num" property="pro_num"/>
	</resultMap>
	<resultMap type="classQna" id="classQna">
		<result column="qna_num" property="qna_num"/>
		<result column="qna_ref" property="qna_ref"/>
		<result column="qna_lev" property="qna_lev"/>
		<result column="qna_content" property="qna_content"/>
		<result column="qna_regdate" property="qna_regdate"/>
		<result column="qna_status" property="qna_status"/>
		<result column="tutor_nickname" property="tutor_nickname"/>
		<result column="pro_num" property="pro_num"/>
		<collection property="miv" resultMap="miv"/>
		<collection property="pfv" resultMap="pfv"/>
	</resultMap>
	
	<select id="qnalist" parameterType="hashmap" resultMap="classQna">
		select
		q.qna_num,q.qna_ref,q.qna_lev,q.qna_content,q.qna_regdate,
		m.mb_name,p.pro_num
		from class_qna q join member_info m
		on q.ml_num = m.ml_num
		join profile_img p
		on m.pro_num = p.pro_num
		where class_num=#{class_num} and qna_lev=0 and qna_status=0
		order by qna_ref desc,qna_num asc
		limit #{startRow},4
		 	
	</select>
	<select id="commlist" parameterType="hashmap" resultMap="classQna">
		select q.qna_num,q.qna_ref,q.qna_lev,q.qna_content,q.qna_regdate,
		ci.tutor_nickname,ci.pro_num
		from class_qna q,class_info ci
		where ci.class_num=#{class_num} and qna_lev=1 and qna_ref=#{qna_ref} and qna_status=0
		order by qna_ref desc,qna_num asc;
	</select>
	<select id="count" resultType="int" parameterType="hashmap">
		select ifnull(count(*),0) from	class_qna
		where class_num=#{class_num} and qna_lev=0 and qna_status=0
	</select>
</mapper>

